body {
  padding: 0;
  margin: 0;
}

#main {
  display: flex;
  flex-direction: row;
}

#content {
  flex-basis: 79%;
  /* padding: 5px 20px 5px; */
  margin: 10px 10px 0px;
}

#post-block {
  background-color: #dff8fc;
  border: 2px solid #87d0ec;
  margin-bottom: 10px;
  padding: 5px 20px 5px;
}

#content h1 {
  color: #417a94;
}

#content h2 a {
  color: #53add1;
}

.date {
  color: #8eaac4;
  font-weight: bold;
  font-style: italic;
}

#content .text {
  color: #c9474d;
  font-size: 18px;
  text-align: justify;
}

#sidebar {
  flex-basis: 15%;
  background-color: #dff8fc;
  border: 2px solid #87d0ec;
  margin: 10px 0;
  padding: 5px 20px 5px;
}
